.reset-btn {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background: #323030;
  color: #aaa;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  transition: box-shadow 0.2s, background 0.2s;
}

.reset-btn:hover {
  opacity: 0.8;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}
