.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  transition: all 0.5s ease;
}

.help__item_fl {
  gap: 32px;
  margin-top: 3px;
}

.help__item_type_collars {
  gap: 34px;
  margin-top: 3px;
}

.help__item_type_bowls {
  gap: 32px;
}

@media screen and (width < 1280px) {
  .help__item {
    text-align: center;
  }
}

@media screen and (width < 768px) {
  .help__item {
    font-size: calc(15px + (20 - 15) * (100vw - 320px) / (1280 - 320));
  }
}

@media screen and (max-width: 350px) {

  .help__item {
    gap: 20px;
  }

  .help__item-pic {
    width: 38%;
  }

  .help__item-pic_type_shampoo {
    width: 20%;
  }

  .help__item-pic_type_food {
    width: 30%;
  }

  .help__item_fl {
    gap: 22px;
  }

  .help__item_type_bowls {
    gap: 22px;
  }

  .help__item_type_collars {
    gap: 22px;
  }

  .help__item_type_sleep {
    gap: 18px;
  }
}
