@import url('../../assets/fonts/fonts.css');

html {
  scroll-behavior: smooth;
}

.page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}

.content {
  margin: 0 auto;
  width: 100%;
}

/* header */

.header {
  width: 100%;
  background: #FFFFFF;
  margin-top: 30px;
  padding-bottom: 30px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
}

.header__wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  width: 94%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  text-decoration: none;
}

.header__logo:hover .header__title {
  color: #292929;
  text-shadow: 2px -2px 4px rgba(195, 195, 197, 0.73);
}

.header__logo:hover .header__subtitle {
  text-shadow: 2px -2px 4px rgba(195, 195, 197, 0.73);
}

.header__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #545454;
  letter-spacing: 0.06em;
  margin: 0;
  transition: all 1s ease;
}

.header__subtitle {
  font-size: 13px;
  line-height: 15px;
  color: #292929;
  letter-spacing: 0.1em;
  margin: 0;
  padding-left: 3px;
  transition: all 1s ease;
}

.header__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 445px;
  list-style-type: none;
}

.header__item {
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.5s ease;
  padding-bottom: 4px;
}

.header__item:hover {
  color: #292929;
}

.header__item:active {
  border-bottom: 3px solid #F1CDB3;
}

.header__item_active {
  color: #292929;
  cursor: auto;
  border-bottom: 3px solid #F1CDB3;
  pointer-events: none;
}

.ourfriends {
  background: #F6F6F6;
  width: 100%;
  font-family: 'Georgia';
  font-style: normal;
}

.ourfriends__wrapper {
  margin: 0 auto;
  width: 94%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ourfriends__title {
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  max-width: 400px;
  margin-top: 80px;
  margin-bottom: 58px;
}

.ourfriends__cards {
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 30px;
}

.ourfriends__card {
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  gap: 31px;
  padding-bottom: 30px;
  transition: all 0.5s ease;
}

.ourfriends__card:hover {
  background: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
}

.ourfriends__card:hover .ourfriends__link {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.ourfriends__names {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.ourfriends__link {
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 13px 42px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transition: all 1s ease;
  background: transparent;
  font-family: 'Georgia';
}

.ourfriends__link:hover {
  cursor: pointer;
}

.ourfriends__btn {
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  background: transparent;
  width: 50px;
  height: 50px;
  color: #292929;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  transition: all 1s ease;
  font-family: 'Georgia';
}

.ourfriends__btn:disabled{
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
}

.ourfriends__btn_active:hover {
  cursor: pointer;
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.ourfriends__btn_active:active {
  background: #F1CDB3;
  border: 2px solid #F1CDB3;
}

.ourfriends__btn_num {
  background:  #F1CDB3;
}

.ourfriends__btn_num:hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
  cursor: pointer;
}

.ourfriends__btn_num:active {
  background: #F1CDB3;
  border: 2px solid #F1CDB3;
}

.ourfriends__nav {
  margin-top: 60px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.ourfriends__img {
  object-fit: contain;
}

/* footer */

.footer {
  padding-top: 40px;
  width: 100%;
  font-family: 'Georgia';
  font-style: normal;
  background: url('../../assets/images/noise_transparent@2x.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__wrapper {
  margin: 0 auto;
  width: 94%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__img {
  background-image: url('../../assets/images/footer-puppy.svg');
  width: 300px;
  height: 310px;
  margin-left: 30px;
}

.footer__section {
  display: flex;
  flex-direction: column;
  gap: 38px;
  width: 320px;
  margin-top: 16px;
}

.footer__section_type_adress {
  gap: 34px;
  padding-left: 5px;
}

.footer__title {
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin: 0;
}

.footer__link {
  text-decoration: none;
  color: #F1CDB3;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  transition: all 1s ease;
}

.footer__link:hover {
  color: #FDDCC4;
  text-shadow: 2px -2px 4px rgba(195, 195, 197, 0.73);
}

.footer__icon {
  background-repeat: no-repeat;
  background-position: center;
}

.footer__icon_type_email {
  background-image: url('../../assets/images/icon-email.svg');
  width: 40px;
  height: 36px;
}

.footer__icon_type_phone {
  background-image: url('../../assets/images/phone.svg');
  width: 40px;
  height: 32px;
}

.footer__icon_type_adress {
  background-image: url('../../assets/images/pin.svg');
  width: 22px;
  height: 32px;
}

.footer__icon_type_adress_double {
  padding-left: 10px;
}
