.about__info {
  margin-top: 14px;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media screen and (max-width: 1150px) {
  .about__info {
    margin-top: 0;
    max-width: 644px;
    margin-bottom: 80px;
  }
}

@media screen and (width < 768px) {
  .about__info {
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .about__info {
    gap: 22px;
    margin-bottom: 40px;
  }
}
