.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: #aaa;
  font-size: 15px;
  font-weight: bold;
  padding: 0 15px 0 15px;
  box-sizing: border-box;
  grid-area: header;
}

.path {
  opacity: 0.3;
}

.header p {
  margin: 0;
}
