.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: #aaa;
  font-size: 15px;
  font-weight: bold;
  padding: 0 20px;
  box-sizing: border-box;
}

.path {
  opacity: 0.3;
}

.header p {
  margin: 0;
}

@media screen and (max-width: 800px) {
  .header {
    font-size: 10px;
  }
}
