.generate-cars {
  width: 170px;
  background-color: transparent;
  font-size: 15px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  padding: 5px;
}

.generate-cars:hover,
.reset-all:hover,
.race:hover {
  opacity: 0.5;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.reset-all,
.race {
  background-color: transparent;
  font-size: 15px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  width: 60px;
}
