@import url(./assets/fonts/fonts.css);
@import url(./mainStyles/page/page.css);
@import url(./mainStyles/header/header.css);
@import url(./mainStyles/header/__burger/header__burger.css);
@import url(./mainStyles/header/__wrapper/header__wrapper.css);
@import url(./mainStyles/header/__logo/header__logo.css);
@import url(./mainStyles/header/__title/header__title.css);
@import url(./mainStyles/header/__subtitile/header__subtitle.css);
@import url(./mainStyles/header/__list/header__list.css);
@import url(./mainStyles/header/__item/header__item.css);
@import url(./mainStyles/header/__nav/header__nav.css);
@import url(./mainStyles/notonly/notonly.css);
@import url(./mainStyles/notonly/__wrapper/notonly__wrapper.css);
@import url(./mainStyles/notonly/__info/notonly__info.css);
@import url(./mainStyles/notonly/__title/notonly__title.css);
@import url(./mainStyles/notonly/__text/notonly__text.css);
@import url(./mainStyles/notonly/__button/notonly__button.css);
@import url(./mainStyles/notonly/__image/notonly__image.css);
@import url(./mainStyles/about/about.css);
@import url(./mainStyles/about/__wrapper/about__wrapper.css);
@import url(./mainStyles/about/__img/about__img.css);
@import url(./mainStyles/about/__info/about__info.css);
@import url(./mainStyles/about/__title/about__title.css);
@import url(./mainStyles/about/__paragraph/about__paragraph.css);
@import url(./mainStyles/ourfriends/ourfriends.css);
@import url(./mainStyles/ourfriends/__wrapper/ourfriends__wrapper.css);
@import url(./mainStyles/ourfriends/__title/ourfriends__title.css);
@import url(./mainStyles/ourfriends/__main/ourfriends__main.css);
@import url(./mainStyles/ourfriends/__cards/ourfriends__cards.css);
@import url(./mainStyles/ourfriends/__arrow/ourfriends__arrow.css);
@import url(./mainStyles/ourfriends/__card/ourfriends__card.css);
@import url(./mainStyles/ourfriends/__names/ourfriends__names.css);
@import url(./mainStyles/ourfriends/__link/ourfriends__link.css);
@import url(./mainStyles/ourfriends/__learnmore/ourfriends__learnmore.css);
@import url(./mainStyles/ourfriends/__img/ourfriends__img.css);
@import url(./mainStyles/help/help.css);
@import url(./mainStyles/help/__wrapper/help__wrapper.css);
@import url(./mainStyles/help/__title/help__title.css);
@import url(./mainStyles/help/__list/help__list.css);
@import url(./mainStyles/help/__item/help__item.css);
@import url(./mainStyles/inaddition/inaddition.css);
@import url(./mainStyles/inaddition/__wrapper/inaddition__wrapper.css);
@import url(./mainStyles/inaddition/__pic/inaddition__pic.css);
@import url(./mainStyles/inaddition/__info/inaddition__info.css);
@import url(./mainStyles/inaddition/__title/inaddition__title.css);
@import url(./mainStyles/inaddition/__card/inaddition__card.css);
@import url(./mainStyles/inaddition/__paragraph/inaddition__paragraph.css);

/* footer */

.footer {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  padding-top: 40px;
  width: 100%;
  transition: all 0.5s ease;
  flex-shrink: 0;
  background: url('./assets/images/noise_transparent@2x.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__wrapper {
  margin: 0 auto;
  width: 94.5%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__img {
  background-image: url('./assets/images/footer-puppy.svg');
  width: 300px;
  height: 310px;
  margin-left: 30px;
}

.footer__section {
  display: flex;
  flex-direction: column;
  gap: 38px;
  width: 320px;
  margin-top: 16px;
}

.footer__section_type_adress {
  gap: 33px;
  padding-left: 5px;
}

.footer__title {
  font-size: 35px;
  line-height: 130%;
  color: #FFFFFF;
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.06em;
}

.footer__link {
  text-decoration: none;
  color: #F1CDB3;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  transition: all 1s ease;
}

.footer__link:hover {
  color: #FDDCC4;
  text-shadow: 2px -2px 4px rgba(195, 195, 197, 0.73);

}

.footer__icon {
  background-repeat: no-repeat;
  background-position: center;
}

.footer__icon_type_email {
  background-image: url('./assets/images/icon-email.svg');
  width: 40px;
  height: 36px;
}

.footer__icon_type_phone {
  background-image: url('./assets/images/phone.svg');
  width: 40px;
  height: 32px;
}

.footer__icon_type_adress {
  background-image: url('./assets/images/pin.svg');
  width: 22px;
  height: 32px;
}

.footer__icon_type_adress_double {
  padding-left: 10px;
}

/* media queries */
/* tablet */


@media screen and (max-width: 1048px) {
  .footer__wrapper {
    justify-content: space-around;
    align-items: center;
    row-gap: 65px;
    width: 86%;
  }

  .footer {
    padding-top: 15px;
  }

  .footer__section_type_adress {
    padding-left: 20px;
    width: 300px;
  }

  .footer__img {
    margin: 0;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 770px) {
  .footer__wrapper {
    justify-content: center;
  }
}

/* phone */

@media screen and (max-width: 750px) {

  .footer__section_type_adress {
    padding: 0;
  }
}

@media screen and (max-width: 722px) {
  .footer__title {
    font-size: 25px;
    text-align: center;
    width: 85%;
    align-self: center;
  }

  .footer__section {
    width: 300px;
  }


}

@media screen and (max-width: 500px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    row-gap: 25px;
  }

  .footer__link {
    padding-left: 30px;
  }

  .footer__link_type_email {
    padding-left: 25px;
  }

  .inaddition__paragraph {
    text-align: justify;
  }

  .footer__link_type_adress {
    padding: 0;
  }
}

@media screen and (max-width: 350px) {
  .footer__section_type_adress {
    gap: 40px;
  }
  .footer__wrapper {
    gap: 20px;
  }

  .footer__img {
    width: 260px;
    background-position: center;
    background-size: contain;
  }
}
