.html-view {
  width: 500px;
  color: #666;
  background: rgba(0,0,0,.7);
  grid-area: html;
  cursor: default;
  display: grid;
  grid-template-areas: 'header header'
                      'counter code';
  grid-template-columns: 30px 471px;
  grid-template-rows: 50px 105px;
}

.code {
  grid-area: code;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 125%;
  padding-left: 5px;
  padding-top: 5px;
}

.inner-div {
  margin-left: 20px;
  width: 200px;
}

.highlighted {
  color: #aaa;
}

.parent-tag {
  z-index: 1;
}

.inner-child-div {
  z-index: 10;
  margin-left: 20px;
}
