.html-view {
  display: grid;
  grid-template-areas:
    'htmlheader htmlheader'
    'counter code';
  grid-template-columns: 30px minmax(100px, 471px);
  grid-template-rows: 50px auto;
  grid-area: html;

  color: #666;

  background: #1d1f21;
  cursor: default;
}

.code {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 5px;
  padding-top: 5px;
  grid-area: code;

  font-size: 16px;
  line-height: 125%;
}

.inner-div {
  margin-left: 20px;
  width: 90%;
}

.inner-child-div {
  margin-left: 40px;
}

@media screen and (max-width: 800px) {
  .code {
    font-size: 14px;
  }

  .inner-div {
    margin-left: 10px;
  }

  .inner-child-div {
    margin-left: 20px;
  }
}

.html-view .inner-div.highlighted * {
  color: #aaa;
}