.html-view {
  width: 500px;
  background-color: grey;
  grid-area: html;
  cursor: default;
}

.inner-div {
  margin-left: 20px;
  width: 100px;
}

.inner-div:hover,
.highlighted {
  color: blueviolet;
}
