.modal {
  position: fixed;
  top: 40%;
  bottom: 40%;
  left: 40%;
  right: 40%;
  display: flex;
  flex-direction: column;
  background: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.modal-text {
  color: rgb(0, 0, 0);
  font-size: 21px;
  text-align: center;
  margin: 5px 0;
}

.modal-button {
  position: absolute;
  right: -15px;
  top: -25px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.modal-button:hover {
  opacity: 0.5;
}
