.header__burger {
  display: none;
}

@media screen and (max-width: 767.5px) {
  .header__burger {
    display: block;
    background-image: url('../../../assets/images/Burger.svg');
    width: 30px;
    height: 22px;
    border: none;
    background-color: transparent;
    align-self: center;
  }
}
