.header__wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  width: 94%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 940px) {
  .header__wrapper {
    width: 92.2%;
  }
}

@media screen and (max-width: 750px) {
  .header__wrapper {
    width: 87.5%;
  }
}
