.popup__close-button {
  position: absolute;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  background: transparent;
  width: 52px;
  height: 52px;
  color: #292929;
  background-image: url('../../../assets/images/close-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s ease;
  top: -52px;
  right: -43px;
  cursor: pointer;
}

.popup__close-button:hover {
  cursor: pointer;
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.popup__close-button:active {
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
}
