@import 'highlight.js/styles/hybrid.css';

body {
  display: grid;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(27, 27, 34);
  justify-content: center;
  margin: 0 auto;
  grid-template-columns: minmax(175px, 500px) minmax(175px, 500px) minmax(100px, 200px);
  grid-template-rows: 400px auto auto;
  grid-template-areas: 'board board levels'
                       'css html levels'
                       'footer footer footer';
}
