body {
  display: grid;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(27, 27, 34);
  justify-content: center;
  margin: 0 auto;
  grid-template-columns: 500px 500px 200px;
  grid-template-rows: 400px 300px auto;
  grid-template-areas: 'board board levels'
                       'css html levels'
                       'footer footer footer';
}
