.header__item {
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.5s ease;
  padding-bottom: 5px;
}

.header__item:hover {
  color: #292929;
}

.header__item:active {
  border-bottom: 3px solid #F1CDB3;
}

.header__item_active {
  color: #292929;
  cursor: auto;
  border-bottom: 3px solid #F1CDB3;
  pointer-events: none;
}
