.notonly__text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  max-width: 460px;
  margin-bottom: 43px;
}

@media screen and (max-width: 750px) {
  .notonly__text {
    text-align: center;
  }
}
