
.footer__section {
  display: flex;
  flex-direction: column;
  gap: 38px;
  width: 320px;
  margin-top: 16px;
}

.footer__section_type_adress {
  gap: 33px;
  padding-left: 5px;
}

@media screen and (max-width: 1048px) {
  .footer__section_type_adress {
    padding-left: 20px;
  }
}

@media screen and (width < 768px) {
  .footer__section_type_adress {
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .footer__section_type_adress {
    gap: 40px;
  }
}
