.about__img {
  background-image: url('../../../assets/images/about-pets.png');
  height: 408px;
  max-width: 300px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1150px) {
  .about__img {
    align-self: center;
  }
}

@media screen and (width < 768px) {
  .about__img {
    height: calc(353.6px + (408 - 353.6) * (100vw - 320px) / (768 - 320));
  }
}
