.create-car {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.name-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #606060;
  color: #fff;
  padding: 0;
  width: 170px;
}

.name-input:focus {
  outline: none;
  border-bottom: 2px solid #fff;
}

.color-input {
  border: none;
  padding: 0;
  outline: none;
  width: 58px;
  height: 40px;
  background-color: #1d1b1b;
  cursor: pointer;
}

.create-btn {
  background-color: transparent;
  width: 60px;
  font-size: 15px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  padding: 5px;
}

.create-btn:hover {
  opacity: 0.5;
}
