.notonly__button {
  background: #F1CDB3;
  border-radius: 100px;
  width: 207px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  transition: all 1s ease;
  text-decoration: none;
}

.notonly__button:hover {
  cursor: pointer;
  background: #FDDCC4;
}

@media screen and (max-width: 900px) {
  .notonly__button {
    align-self: center;
  }
}
