.ourfriends__card {
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  gap: 30px;
  padding-bottom: 30px;
}

.ourfriends__card:hover {
  cursor: pointer;
  background: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.ourfriends__card:hover .ourfriends__link {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

@media screen and (max-width: 1050px) {
  .ourfriends__card:last-of-type {
    display: none;
  }

}

@media screen and (max-width: 750px) {
  .ourfriends__card:nth-of-type(2) {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .ourfriends__card {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }

}
