.ourfriends__wrapper {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (width <1280px) {
  .ourfriends__wrapper {
    width: 94%;
  }
}
