.ourfriends__arrow {
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  background: transparent;
  width: 52px;
  height: 52px;
  color: #292929;
  background-image: url('../../../assets/images/Arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s ease;
}

.ourfriends__arrow:hover {
  cursor: pointer;
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.ourfriends__arrow:active {
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
}

.ourfriends__arrow_right {
  transform: scaleX(-1);
}

@media screen and (max-width: 500px) {
  .ourfriends__arrow {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    justify-self: end;
  }

  .ourfriends__arrow_right {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    justify-self: start;
  }
}
