.enter-btn {
  position: absolute;
  top: 60px;
  right: 20px;
  z-index: 3;

  width: 50px;
  height: 20px;

  font-size: 10px;
  font-weight: bold;
  color: #535252;

  background: #aaa;
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);

  transition: box-shadow 0.2s, background 0.2s;
}

.enter-btn:hover {
  opacity: 0.8;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 800px) {
  .enter-btn {
    left: 35px;
    top: 105px;
  }
}