.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  justify-self: end;
  width: 30%;
  padding: 7px 20px 0 0;
  gap: 10px;
  grid-area: footer;

  font-size: 13px;
  font-weight: bold;
}

.year {
  margin: 0;
  color: #aaa;
}

.github-logo {
  width: 24px;
  height: 27px;

  background-image: url('../assets/images/github-mark-white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  transition: transform 0.5s ease;
}

.course-logo {
  width: 60px;
  height: 20px;

  background-image: url('../assets/images/rs_school_js.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(1);

  transition: transform 0.5s ease;
}

.github-logo:hover,
.course-logo:hover {
  transform: scale(110%);
}

.github-link,
.course-link {
  display: block;
}