.ourfriends__card {
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  gap: 31px;
  padding-bottom: 30px;
  transition: all 0.5s ease;
}

.ourfriends__card:hover {
  background: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
}

.ourfriends__card:hover .ourfriends__link {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}
