.header__burger {
  display: none;
}

@media screen and (width < 768px) {
  .header__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
    width: 30px;
    align-self: center;
    cursor: pointer;
    transition: transform 0.5s ease;
  }

  .header__burger:hover {
    transform: scale(110%);
  }

  .header__burger-line {
    margin: 0;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
  }
}
