.input {
  font-family: monospace;
  height: 28px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  grid-area: input;
  font-size: 16px;
  z-index: 1;
  color: transparent;
  background: transparent;
  caret-color: white;
  padding-left: 5px;
}

@media screen and (max-width: 800px) {
  .input  {
    font-size: 14px;
  }
}


