.input {
  z-index: 1;

  height: 28px;
  margin: 0;
  padding: 0 0 0 5px;
  box-sizing: border-box;
  grid-area: input;

  font-family: monospace;
  font-size: 16px;
  color: transparent;

  background: transparent;
  border: none;
  outline: none;
  caret-color: white;
}

@media screen and (max-width: 800px) {
  .input {
    font-size: 14px;
  }
}