.ourfriends__link {
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 13px 42px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  transition: all 1s ease;
  background: transparent;
  font-family: 'Georgia';
}

.ourfriends__link:hover {
  cursor: pointer;
}
