.ourfriends__title {
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  max-width: 400px;
  margin-top: 80px;
  margin-bottom: 58px;
}

@media screen and (width < 1280px) {
  .ourfriends__title {
    margin-bottom: calc(30px + (58 - 30) * (100vw - 768px) / (1280 - 768));
  }
}

@media screen and (width < 768px) {
  .ourfriends__title {
    margin-top: calc(42px + (80 - 42) * (100vw - 320px) / (768 - 320));
    font-size: calc(25px + (35 - 25) * (100vw - 320px) / (768 - 320));
    margin-bottom: calc(42px + (30 - 42) * (100vw - 320px) / (768 - 320));
  }
}
