.popup__breed-info {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin: 0 0 40px;
}

@media screen and (width < 1000px) {
  .popup__breed-info  {
    margin: 0 0 20px;
  }
}

@media screen and (width < 750px) {
  .popup__breed-info  {
    align-self: center;
  }
}
