@import url(./animation.css);

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  grid-area: board;
  overflow: hidden;

  font-size: 30px;
  font-weight: bold;
  color: #aaa;

  background-image: url('../assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.game-board p {
  margin-top: 30px;
  margin-bottom: 0;
}

.images-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.image-wrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 250px;
}

.image {
  display: block;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.span {
  position: absolute;
  top: -30px;
  z-index: 3;

  display: none;
  padding: 2px 5px;

  font-family: monospace;
  font-size: 12px;
  font-weight: normal;
  text-align: center;

  background-color: #ffffff;
}

.hovered+span {
  display: block;
}

.hovered {
  background-size: 90%;
}

.parent {
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.child {
  z-index: 1;
}

/* animals */

.crab {
  width: 200px;
  height: 174px;

  background-image: url(../assets/images/crab.png);
}

.seal {
  width: 200px;
  height: 153px;

  background-image: url(../assets/images/seal.png);
}

.jellyfish-blue {
  width: 200px;
  height: 234px;

  background-image: url(../assets/images/blue-jellyfish.png);
}

.jellyfish-white {
  width: 200px;
  height: 210px;

  background-image: url(../assets/images/white-jellyfish.png);
}

.seaweed {
  width: 100px;
  height: 150px;

  background-image: url(../assets/images/weed.png);
}

.coral-blue {
  bottom: 0;

  width: 120px;
  height: 140px;

  background-image: url(../assets/images/corall-blue.svg);
}

.coral-red {
  bottom: 0;

  width: 90px;
  height: 120px;

  background-image: url(../assets/images/corall-red.svg);
}

.seal-small {
  width: 120px;
  height: 100px;

  background-image: url(../assets/images/seal.png);
}

.crab-small {
  width: 100px;
  height: 87px;

  background-image: url(../assets/images/crab.png);
}

@media screen and (max-width: 950px) {
  .game-board {
    font-size: 20px;
  }

  .images-container {
    gap: 0;
  }

  .image-wrapper {
    width: 100px;
    height: 100px;
  }

  .span {
    top: -40px;
    font-size: 13px;
  }

  .crab {
    width: 100px;
    height: 100px;
  }

  .seal {
    width: 76px;
    height: 80px;
  }

  .jellyfish-blue,
  .jellyfish-white {
    width: 76px;
    height: 120px;
  }

  .seaweed {
    width: 40px;
    height: 70px;
  }

  .seal-small {
    width: 40px;
    height: 130px;
  }

  .crab-small {
    width: 60px;
    height: 60px;
  }

  .coral-red,
  .coral-blue {
    width: 50px;
    height: 65px;
  }
}