@import url(./animation.css);

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: #aaa;
  background-image: url('../assets/images/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: board;
  gap: 50px;
}

.game-board p {
  margin-top: 30px;
  margin-bottom: 0;
}

.images-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.image {
  display: block;
  position: relative;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

.bird {
  background-image: url(../assets/images/red-bird.svg);
  height: 170px;
  width: 140px;
}

.pig {
  background-image: url(../assets/images/pig.png);
  height: 200px;
  width: 200px;
}

.balloon {
  background-image: url(../assets/images/orange-balloon.svg);
  height: 270px;
  width: 50px;
}

.blue {
  background-image: url(../assets/images/blue-bird.svg);
  height: 220px;
  width: 140px;
}

.cloud {
  background-image: url(../assets/images/cloud.svg);
  height: 240px;
  width: 140px;
}

.span {
  display: none;
  position: absolute;
  font-size: 12px;
  background-color: #ffffff;
  padding: 5px 10px;
  z-index: 3;
  top: 120px;
}

.hovered + span {
  display: block;
}

.hovered{
  background-size: 100%;
}

.parent {
  position: absolute;
  top: 170px;
  z-index: 1;
}

.child {
  z-index: 2;
}


@media screen and (max-width: 800px) {
  .game-board {
    font-size: 20px;
  }
  .images-container {
    gap: 25px;
  }
}
