.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: rgb(86, 84, 84);
  background-image: url('../assets/images/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1000px;
  grid-area: board;
}

.images-container {
  display: flex;
  flex-direction: row;
}

.image {
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 1s ease;
}

.bird {
  background-image: url(../assets/images/black-bird.svg);
  height: 198px;
  width: 280px;
}

.balloon {
  background-image: url(../assets/images/white-balloon.svg);
  height: 150px;
  width: 82px;
}

[data-tag]::before {
  content: attr(data-tag);
}
