.levels-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: black;
  color: bisque;
  width: 300px;
  height: 400px;
}

.level-link {
  cursor: pointer;
}

.level-link_active {
  color: brown;
}

.level-link:hover {
  opacity: 0.8;
}
