.levels-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: black;
  color: bisque;
  width: 300px;
  height: 400px;
}

.level-link {
  cursor: pointer;
}

.level-link_active {
  color: brown;
}

.level-link:hover {
  opacity: 0.8;
}

.level-link_solved {
  color: rgb(42, 165, 50);
}

.level-link_solved::before {
  content: '✔';
  color: aquamarine;
}

.solved-with-help::after {
  content: ' solved with help';
  color: azure;
  font-size: 13px;
}
