.footer__section {
  display: flex;
  flex-direction: column;
  gap: 38px;
  width: 278px;
  margin-top: 16px;
}

.footer__section_type_adress {
  width: 302px;
  gap: 33px;
}

@media screen and (width < 768px) {

  .footer__section {
    width: 302px;
    justify-content: center;
    align-items: center;
    gap: 38px;
  }

  .footer__section_type_adress {
    margin-top: 20px;
    margin-bottom: 2px;
  }
}
