.css-code-highlighter {
  position: absolute;
  top: 55px;
  left: 34px;
  z-index: 0;

  height: 30px;
  width: 300;
  margin: 0;
  padding: 0 !important;
  box-sizing: border-box;

  font-size: 16px;

  background: transparent;
}

@media screen and (max-width: 800px) {
  .css-code-highlighter {
    font-size: 14px;
  }
}