.css-view {
  display: grid;
  position: relative;
  grid-template-areas: 'header header'
                      'counter input'
                      'counter comment' ;
  grid-template-columns: 29px 471px;
  grid-template-rows: 50px 105px 100px;
  background: #efefef;
  color: #AAA;
}

.css-comment {
  margin-left: 5px;
  grid-area: comment;
  font-size: 17px;
}
