.css-view {
  display: grid;
  position: relative;
  grid-template-areas: 'cssheader cssheader'
                      'counter input'
                      'counter comment' ;
  grid-template-columns: 29px minmax(100px, 471px);
  grid-template-rows: 50px 105px 145px;
  background: #1d1f21;
  color: #AAA;
}

.css-comment {
  margin-left: 5px;
  grid-area: comment;
  font-size: 17px;
  font-family: monospace;
}

@media screen and (max-width: 800px) {
  .css-comment  {
    display: none;
  }
  .css-view {
    grid-template-rows: 50px 80px 140px;
  }
}

.css-code {
  position: absolute;
  top: 55px;
  left: 34px;
  height: 30px;
  width: 300;
  margin: 0;
  padding: 0 !important;
  background: transparent;
  box-sizing: border-box;
  font-size: 16px;
  z-index: 0;
}

