.inaddition__card-name {
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.inaddition__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #F1CDB3;
  border-radius: 9px;
  width: 349px;
  padding: 10px 15px;
  box-sizing: border-box;
  text-decoration: none;
}

.inaddition__card:hover {
  background: #FDDCC4;
  cursor: pointer;
}

.inaddition__card-number {
  border-radius: 9px;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.inaddition__card-icon {
  background-image: url('../../../assets/images/credit-card.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 23px;
}

@media screen and (width < 768px) {
  .inaddition__card {
    width: calc(281px + (349 - 281) * (100vw - 320px) / (768 - 320));

  }

  .inaddition__card-number {
    font-size: calc(15px + (20 - 15) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 665px) {

  .inaddition__card-name {
    text-align: center;
  }

  .inaddition__card {
    align-items: center;
  }
}
