.inaddition__paragraph {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
  margin: 0;
}

@media screen and (max-width: 665px) {

  .inaddition__paragraph {
    text-align: center;
  }
}
@media screen and (max-width: 350px) {
.inaddition__paragraph {
  text-align: justify;
}
}
