.footer {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  padding-top: 40px;
  width: 100%;
  transition: all 0.5s ease;
  flex-shrink: 0;
  background: url('../../assets/images/noise_transparent@2x.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

@media screen and (max-width: 1048px) {
  .footer {
    padding-top: 15px;
  }
}
