.garage {
  display: flex;
  flex-direction: column;
  height: 581px;
}

.car-counter {
  font-size: 25px;
  color: #fff;
  align-self: center;
}

@media screen and (max-width: 1000px) {
  .garage {
    height: 455px;
  }
}
