.winners {
  background-color: #1d1b1b;
  position: absolute;
  top: 150px;
  left: calc(50% - 225px);
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  font-size: 14px;
}

table {
  text-align: left;
  color: #fff;
  border-spacing: 10px;
}

.winner-counter {
  color: #fff;
  position: relative;
  top: -40px;
  margin: 0;
}

.th-time,
.th-wins {
  cursor: pointer;
}

.th-time:hover,
.th-wins:hover {
  opacity: 0.5;
}
