.popup__content {
  width: 900px;
  height: 500px;
  background: #FAFAFA;
  border-radius: 9px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
}

@media screen and (width < 1000px) {
  .popup__content {
    width: 630px;
    height: 350px;
  }
}

@media screen and (width < 750px) {
  .popup__content {
    width: 240px;
    height: 341px;
  }
}
