.popup__content {
  width: 900px;
  height: 500px;
  background: #FAFAFA;
  border-radius: 9px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
}
