@keyframes carAnimation {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(90vw - 20px));
  }
}

svg {
  width: 50px;
  height: 35px;
}

.car-wrapper {
  border-bottom: 4px dotted #fff;
  padding: 40px 0 0;
  position: relative;
  padding-left: 70px;
}

.flag {
  position: absolute;
  left: 90vw;
  top: 50px;
  background-image: url('../../images/finish.svg');
  width: 26px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center;
}

.car-name {
  color: #fff;
  margin: 0;
  position: absolute;
  top: 5px;
  left: 170px;
  font-size: 18px;
  font-weight: bold;
}

.select-btn {
  position: absolute;
  top: 5px;
  left: 15px;
  cursor: pointer;
  background-color: rgb(28, 28, 28);
  border: none;
  color: #fff;
}

.remove-btn {
  position: absolute;
  top: 5px;
  left: 70px;
  cursor: pointer;
  background-color: rgb(28, 28, 28);
  border: none;
  color: #fff;
}

.engine-start {
  position: absolute;
  top: 45px;
  left: 15px;
  background-color: rgb(6, 68, 3);
  border-radius: 40%;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 17px;
}

.reset-btn {
  position: absolute;
  top: 45px;
  left: 45px;
  background-color: rgb(152, 0, 96);
  border-radius: 40%;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 17px;
}

.select-btn:hover,
.remove-btn:hover,
.reset-btn:hover,
.engine-start:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1000px) {

  @keyframes carAnimation {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(80vw - 50px));
    }
  }

  .car-name {
    font-size: 13px;
  }

  .engine-start {
    font-size: 10px;
    left: 25px;
  }

  .reset-btn {
    font-size: 10px;
    left: 45px;
  }

  .select-btn {
    left: 25px;
  }

  .remove-btn {
    left: 80px;
  }

  svg {
    width: 25px;
    height: 17px;
  }

  .flag {
    width: 16px;
    height: 18px;
    top: 40px;
    left: 80vw;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}
